* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1.5rem;
  transition: transform 0.3s ease;
}

.user-container .clubs-container > * {
  width: 100%;
}

.post-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.user-container.hidden {
  transform: translateX(-100%);
}

.hidden {
  display: none;
}

/* .post-container.expanded {
  width: 100%;
} */

.container.full-width {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 1.5rem 0 1.5rem;
}

.clubs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clubs-container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f9f5f3;
  border-radius: 10px;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .user-container {
    background-color: #6d413f;
    border-radius: 15px 15px 0 0;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    flex-direction: row-reverse;
    margin: 0;
  }

  .user-container user-menu {
    width: 100%;
  }
  .container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .user-container {
    display: none;
  }

  .post-container {
    width: 90%;
  }
}
