.clubs--info {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.clubs--info img {
    
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.clubs--info__text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    column-gap: 0;
}

.clubs--info__text h4 {
    color: #5c4339;
    position: relative;
    top: 20px;
}

.clubs--info__text p {
    position: relative;
    top: -20px;
    color: #53413a;
}
.clubs--info__button {
    background-color: rgb(255, 68, 68);
    color: #F9F5F3;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 0 0 16px;
    display: block;
    min-width: 100px;
    transition: background-color 0.3s ease;
}